.inputWrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* padding: 0.875rem; */
  gap: 0.5rem;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #cccccc;
}

.attachButton, .sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  border-radius: 50%;
  transition: all 0.2s ease;
  background: #f0f0f0;
  /* color: red; */
  margin: .5rem;
}

.sendButton {
    background-color: #4f46e5;
}

.attachButton:hover:not(:disabled) {
  /* background: #e0e0e0;
  color: #333333; */
}

.attachButton.active {
  /* background: #667eea; */
  /* color: white; */
}

.attachButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.textInput {
    flex: 1;
    border: none;
    background-color: transparent;
    padding-top: 0.25rem;
    padding-inline-start: 1rem;
}